*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#code {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -60;
}

body{
  font-family: 'Oswald', sans-serif;
}

.formulaireConnexion{
  width: 30%;
margin: auto;
margin-top: 100px;
background-color: rgb(42, 42, 42);
border-radius: 20px;
text-align: center;
}

.formulaireConnexion img{
  display: block;
  text-align: center;
  margin: auto;
  width: 100%;
}

.formpart1{
  background-color: rgb(8, 8, 8);
  border-radius: 20px 20px 0 0;
}

input{
  margin-bottom: 20px;
  width: 50%;
  height: 25px;
  margin-top: 10px;
  background-color:rgb(42, 42, 42);
  border-bottom: 2px solid rgb(201, 201, 201);
  border-top: none;
  border-left: none;
  border-right: none;
  color: white;
}

label{
  color: rgb(201, 201, 201);
}

button{
  background-color:rgb(42, 42, 42);
  border: 2px solid rgb(201, 201, 201);
  color: white;
  padding: 15px;
  width: 30%;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: 'Oswald', sans-serif;
}

button:hover{
  background-color: black;
  transition: 2s;
}

h2{
  color: white;
  text-align: center;
  font-style: italic;
  padding: 30px 0;
}

#inscription{
  text-align: center;
  color: white;
  font-weight: lighter;
  padding-bottom: 20px;
}

#inscription a{
  color: white;
  font-weight: bold;
}

*::selection {
background:black;
color:grey;
}

*::-moz-selection {
background:black;
color:grey;
}

*::-webkit-selection {
background:black;
color:grey;
}

.error{
  color: rgb(159, 11, 11);
  text-transform: uppercase;
}

#red{
width: 50%;
margin: auto;
margin-top: 100px;
background-color: rgb(42, 42, 42);
border-radius: 20px;
text-align: center;
}

#formulaireflex{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.part1, .part2{
  width: 50%;
}

nav{
  display: flex;
  justify-content: space-around;
    background-color: black;
}

.logo{
  width: 40%;
}

.naviga{
  width: 60%;
}

.naviga ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding-top: 7%;
  padding-right: 20px;
}

.naviga ul li a{
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  font-style: italic;
}
.naviga ul li i{
font-size: 25px;
}

.naviga ul li i:hover{
color: rgb(215, 176, 117);
}

.naviga ul li a:hover{
  border-bottom: 2px solid  rgb(215, 176, 117);
}


.bodyback{
  background-image: url('../img/anonymous_mask.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

h3{
  color: white;
  font-size: 70px;
  font-family: 'Rajdhani', sans-serif;
  margin: auto;
  text-align: center;
  width: 50%;
  border: 3px solid rgb(215, 176, 117);
}

h1{
  color: rgb(215, 176, 117);
  padding-left: 80px;
    font-size: 46px;
}

main{
  padding-top: 230px;
}

.logo img{
  width: 35%;
  padding-top: 20px;
}

.contentSet{
  height: 480px;
  background-image: url('../img/banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

h4{
  color: white;
  text-align: center;
}

.formSet{
  height: 600px;
  width: 80%;
  margin: auto;
  margin-top: -180px;
  background-color: white;
  box-shadow: 0 0 90px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 80px;
}

.iconSet{
  color: white;
  text-align: center;
  display: block!important;
  margin: auto;
  font-size: 80px;
  padding-top: 60px;
}

h4{
  font-size: 32px;
  text-transform: uppercase;
}

form.settings{
  text-align: center;
  padding-top: 60px;
}

.changMDP {
  text-align: center;
}

.changMDP a{
    color: rgb(215, 176, 117);
}

.settings input{
  background-color: white;
  color: grey;
  border-bottom: 2px solid rgb(215, 176, 117);
}

.formSetMDP{
  height: 300px;
  width: 80%;
  margin: auto;
  margin-top: -180px;
  background-color: white;
  box-shadow: 0 0 90px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 80px;
}

.newmdp{
  padding-left: 6%;
}

@media screen and (max-width: 1700px) {
  .newmdp{
    padding-left: 8%;
  }
}

@media screen and (max-width: 1450px) {
  .newmdp{
    padding-left: 9%;
  }
}

.formSetTopic{
  height: 400px;
  width: 80%;
  margin: auto;
  margin-top: -180px;
  background-color: white;
  box-shadow: 0 0 90px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 80px;
}
